html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 20px; 
  box-sizing: border-box; 
  margin-top: 300px;
}

/* Reduce the text size of form fields */
.registration-container .form-control {
  font-size: 14px; /* Adjust the size as needed */
}

.registration-container .form-label {
  font-size: 14px; /* Adjust the size as needed */
}

.card {
  width: 100%;
  max-width: 600px; 
  margin: auto; 
}

.btn-primary {
  background-color: #FF9933; 
  border-color: #FF9933;
}

.btn-link {
  color: #FF9933;
}

@media (max-width: 576px) {
  .registration-container {
    padding: 10px; 
  }
  
  .card {
    margin: 0; 
    border-radius: 0;
  }
}

.mb-3 {
  margin-bottom: 16px; 
}
